/* 
    Document   : style
    Created on : 6.4.2014, 13:22:13
    Author     : Defu
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding: 0px;
    margin: 0px;
}

body {    
    background-color: #D5E0F2;
    font: 14px arial;
}

#logo {
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

#logopic {
    width: 50px;
    height: 50px;
}

#menu {
    background-color: #000000;
    height: 60px;
    color: #FFFFFF;
    
    border-bottom: 5px solid #FFFFFF;
    font-size: 16px;
}

#menulist {

    padding-top: 10px;
    padding-left: 20px;
    float: left;
    height: 100%;
}

#menulist ul{
    
    list-style-type: none;
    height: 100%;
}

#menulist li{
    text-align: center;
    min-width: 40px;
    display: inline-block;
    padding: 10px;
    height: 30px;
}

.menulistitem:hover{
    -moz-box-shadow: inset 0px 5px 5px #888;
    -webkit-box-shadow: inset 0px 5px 5px #888;
    box-shadow: inset 0px 5px 5px #888;
   
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

#main {
    border: 1px solid #C5D0D2;
    margin-top: 50px;
    background-color: #ffffff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 10px;
}

#main h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

#main .pic_default {
    height: 65%;
    width: 65%;
}

.pictext {
    
    padding: 20px;
    
    background-color: #efefef;
    
    margin-bottom: 20px;
    margin: 20px;
}

.pictext_list {
    list-style: circle;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
}